<footer class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3 mb-4">
          <strong>BIT Shop</strong>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <ul>
            <li class="list-title">Title 1</li>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <ul>
            <li class="list-title">Title 1</li>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <ul>
            <li class="list-title">Title 1</li>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
          </ul>
        </div>
        <div class="col-12 pt-5 text-center">
          <p class="copyright">© Bogotá Institute of Technology 2024</p>
        </div>
      </div>
    </div>
  </footer>
