footer {
  background-color: #212529;
  color: white;
  padding:  0;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  color: #888;
  font-size: 1rem;
}

footer ul li.list-title {
  padding-bottom: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}

footer .copyright {
  font-size: 0.9rem;
  color: #888;
}

.list-names{
  margin-bottom: 25px;
}

/* Estilos base para la imagen */
.imgs {
  transition: transform 0.3s ease, 
  box-shadow 0.3s ease, 
  opacity 0.3s ease;
}

/* Efecto hover */
.imgs:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.801); 

  border-radius: 50px;
}

img{
  border-radius: 30px;
}