@if(isLoading){
<nav>
  <div class="loader-nav d-flex justify-content-between align-items-center">
    <div>
      <p-skeleton class="placeholder" width="5rem" height="3rem" />
    </div>,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
    <div class="d-flex gap-3 align-items-center">
      <div>
        <p-skeleton class="placeholder" width="4rem" height="3rem" />
      </div>
      <div>
        <p-skeleton class="placeholder" width="4rem" height="3rem" />
      </div>
      <div>
        <p-skeleton class="placeholder" width="4rem" height="3rem" />
      </div>
    </div>,,,
    <div class="d-flex align-items-center gap-3">
      <div>
        <p-skeleton class="placeholder" width="7rem" height="2rem" />
      </div>
      <div>
        <p-skeleton class="placeholder" shape="circle" size="2rem" styleClass="mr-2" />
      </div>
      <div>
        <p-skeleton class="placeholder" shape="circle" size="2rem" styleClass="mr-2" />
      </div>
    </div>
  </div>
</nav>
<main>
  <section id="product-detail" class="pt-5">
    <div class="container-fluid">
      <div class="row">
        <swiper-container class="swiper-container swiper-container mySwiper"
          style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper" navigation="true"
          space-between="30">
          <swiper-slide>
            <p-skeleton class="placeholder" width="60rem" height="22rem" />
          </swiper-slide>
          <swiper-slide>
            <p-skeleton class="placeholder" width="60rem" height="22rem" />
          </swiper-slide>
          <swiper-slide>
            <p-skeleton class="placeholder" width="60rem" height="22rem" />
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </section>
  <section id="product-detail" class="pt-8">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-light infogame">
          <p-skeleton class="placeholder" width="18rem" height="3rem" />
          <div>
            <p-skeleton class="placeholder" width="6rem" height="3rem" />
          </div>
          <p-skeleton class="placeholder" width="16rem" height="4rem" />
          <article class="card-videogame">
            <ul class="description">
              <h2>
                <p-skeleton class="placeholder" width="17rem" height="3rem" />
              </h2>
              <li class="item">
                <p-skeleton class="placeholder" width="9rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="10rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="8rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="11rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="8rem" height="1rem" />
              </li>
            </ul>

            <ul class="description">
              <h2>
                <p-skeleton class="placeholder" width="17rem" height="3rem" />
              </h2>
              <li class="item">
                <p-skeleton class="placeholder" width="9rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="10rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="8rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="11rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="8rem" height="1rem" />
              </li>
            </ul>
          </article>
        </div>
        <div class="col text-light infogame">
          <article class="card-videogame">
            <ul class="description">
              <h2>
                <p-skeleton class="placeholder" width="17rem" height="3rem" />
              </h2>
              <li class="item">
                <p-skeleton class="placeholder" width="30rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="29rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="30em" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="28rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="30rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="30rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="29rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="30em" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="28rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="30rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="30rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="29rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="30em" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="28rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="30rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="30rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="29rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="30em" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="28rem" height="1rem" />
              </li>
              <li class="item">
                <p-skeleton class="placeholder" width="30rem" height="1rem" />
              </li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 mb-4">
        <h2>
          <p-skeleton class="placeholder" width="17rem" height="3rem" />
        </h2>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title"><p-skeleton class="placeholder" width="6rem" height="1.5rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title"><p-skeleton class="placeholder" width="6rem" height="1.5rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title"><p-skeleton class="placeholder" width="6rem" height="1.5rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
        </ul>
      </div>
      <div class="col-12 pt-5 text-center">
        <li><p-skeleton class="placeholder" width="20rem" height="1rem" /></li>
      </div>
    </div>
  </div>
</footer>
}@else {
<app-nav />
<main>
  <section id="product-detail" class="pt-2">
    <div class="container-fluid">
      <div class="container-princi">
        <swiper-container class="swiper-container mySwiper"
          style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper" navigation="true"
          space-between="30">
          <swiper-slide>
            <iframe class="d-block videosize"
              [src]="'http://www.youtube.com/embed/' + (videogame().videoId) + '?autoplay=1&mute=1'| safeUrl"
              allowfullscreen></iframe>
          </swiper-slide>
          <swiper-slide *ngFor="let image of videogame().image">
            <img [src]="image" class="d-block imagesize" />
          </swiper-slide>
        </swiper-container>
        <div class="title-price">
          <div>
            <h1 class="title-videogame">{{videogame().name}}</h1>
            <p class="price-videogame">Price: $ {{videogame().price}}&nbsp;USD</p>
            <button class="button-icon navbar-toggler pe-0" (click)="addToCart(videogame())">
              <span class="material-symbols-outlined">
                shopping_cart
              </span>
              <h2>Add To Card</h2>
            </button>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section id="product-detail" class="pt-8">
    <div class="container-fluid">
      <div class="container-info">
        <div class="text-light infogame">
          <article>
            <h2 class="information">Information:</h2>
            <article>
              <hr>
              <div *ngFor="let description of videogame().description">
                <p>
                  {{description}}
                </p>
              </div>
            </article>
          </article>
          <article class="card-videogame">
            <div class="description">
              <h2>Details:</h2>
              <ul>
                <li class="item">
                  Game mode:
                  @for(gamemode of videogame()?.gamemode; track gamemode._id){
                  {{gamemode.name}}
                  }
                </li>
                <li class="item">
                  developer:
                  @for(developer of videogame()?.developer; track developer._id){
                  {{developer.name}}
                  } </li>
                <li class="item">gender:
                  @for(gender of videogame()?.gender; track gender._id){
                  {{gender.name}}
                  }
                </li>
                <li class="item">pegi: @for(pegi of videogame()?.pegi; track pegi._id){
                  {{pegi.name}}
                  } </li>
                <li class="item">theme:
                  @for(theme of videogame()?.theme; track theme._id){
                  {{theme.name}}
                  }
                </li>
              </ul>
            </div>
            <div class="requirements">
              <h2 class="system-requirements">System Requirements:</h2>
              <div *ngFor="let systemRequirements of videogame().systemRequirements">
                <p class="requirements-p">
                  {{systemRequirements}}
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="text-light more-games">
          <h2>more games</h2>
          @for(videogame of featuredvideogames(); track videogame._id){
          <app-cards [id]="videogame._id" [name]="videogame.name" [price]="videogame.price" [cover]="videogame.cover" />
          }
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer />
}