/* General Styles */
.placeholder {
  background-color: grey;
  border-radius: 6px;
  margin: 6px;
}

.loader-nav {
  border: 1px solid grey;
  height: 85px;
  margin: 5px 5px 10px;
  border-radius: 15px;
  padding: 15px;
}

swiper-slide {
  height: 500px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagesize {
  max-height: 400px;
  max-width: 75%;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.105);
}

iframe {
  border-radius: 10px;
  width: 75%;
  min-height: 400px;
  height: 100%;
}

/* ====================
  - Product Detail Section
==================== */
.container-princi {
  display: flex;
}

swiper-container {
  max-width: 75%;
  background-color: #2b3036;
  border-radius: 10px;
}

app-cards {
  max-width: 200px;
}

.more-games {
  background-color: #2b3036;
  margin: 20px 0 0 20px;
  border-radius: 15px;
  width: 24%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-price {
  margin-left: 20px;
  background-color: #2b3036;
  min-height: 100%;
  border-radius: 10px;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.product-detail {
  text-align: center;
  width: 75%;
}

.title-videogame {
  color: aqua;
  text-shadow: 1px 1px 15px aqua;
  font-size: 35px;
}

.container-info {
  display: flex;
}

p.price-videogame {
  font-size: 30px;
  color: white;
}

.infogame {
  background-color: #282d32fd;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  width: 75%;
}

.card-videogame {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  background-color: #212529;
  border-radius: 15px;
  padding: 25px;
  width: 50%;
  height: 20rem;
  margin-right: 15px;
  line-height: 1.5;
  list-style-type: none;
}

.information {
  color: aqua;
  text-shadow: 1px 1px 15px aqua;
}

.item {
  padding-left: 20px;
}

.requirements {
  background-color: #212529;
  border-radius: 15px;
  padding: 25px;
  width: 50%;
  height: 20rem;
  line-height: 1;
  position: relative;
}

.requirements-p {
  padding-left: 18px;
}

.system-requirements {
  color: aqua;
  text-shadow: 1px 1px 15px aqua;
  margin-bottom: 10px;
  display: flex;
}

.image-container {
  flex-shrink: 0;
}

#goku {
  width: 100px;
  height: 200px;
}

#description {
  resize: none;
}

/* ====================
  - Layout
==================== */
.row {
  margin: 0 100px;
}

.container {
  padding: 0 !important;
  padding-left: 200px;
  padding-right: 200px;
}

.title-description {
  font-size: 18px;
}

/* ====================
  - Buttons
==================== */
.button-icon {
  background-color: #00e1e1;
  right: 20px;
  top: 23px;
  border: none;
  color: black;
  text-align: center;
  margin: 0 8px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.button-icon:hover {
  background-color: #00e1e1;
  box-shadow: 2px 2px 15px black;
}

.button-icon h2 {
  padding-right: 15px;
}

/* ====================
  - Icons
==================== */
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 0, "opsz" 48;
  font-size: 40px;
  padding: 10px;
}

/* ====================
  - Newsletter
==================== */
#newsletter p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

#newsletter small {
  color: red;
}

/* ====================
  - Media Queries
==================== */
@media screen and (max-width: 1000px) {
  .row {
    margin: 0 80px;
    margin: 0 60px;
    display: block;
  }
  iframe {
    width: 500px;
    height: 320px;
  }
  .container-princi {
    flex-direction: column;
  }

  swiper-container {
    max-width: 100%;
  }

  iframe {
    width: 80%;
  }

  .title-price {
    width: 100%;
    margin: 20px 0 0 0;
  }

  .container-info {
    flex-direction: column;
  }

  .infogame {
    width: 100%;
  }

  .card-videogame {
    flex-direction: column;
  }

  .description,
  .requirements {
    width: 100%;
    margin: 10px 0 0 0;
  }

  .more-games {
    width: 100%;
  }

  app-cards {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .section-text-combo p {
    width: 100%;
  }

  iframe {
    width: 500px;
    height: 320px;
  }

  .row {
    margin: 0 60px;
    display: block;
  }

  .row > * {
    width: auto;
  }
}

@media screen and (max-width: 676px) {
  html {
    font-size: 18px;
  }

  iframe {
    max-width: 400px;
    max-height: 250px;
  }

  .imagesize {
    max-height: 380px;
    max-width: 480px;
  }

  .section-text-combo p {
    width: 100%;
  }

  .row {
    margin: 0 2px;
  }
}

@media screen and (max-width: 480px) {
  iframe {
    max-width: 350px;
    max-height: 180px;
  }

  .imagesize {
    max-height: 180px;
    max-width: 350px;
  }
}
