main {
  min-height: 80vh;
  margin-top: 54px;
}
.container {
  padding: 0 !important;
}

.carouselsize {
  height: 400px;
  width: 1000px;
  margin: 0 auto;
}

.imagesize {
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.105);
}

iframe {
  width: 635px;
  height: 400px;
}

.videosize {
  margin: 0 auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.105);
}

.sizebutton {
  height: 200px;
  width: 80px;
  margin: auto 0;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: white;
  opacity: 30%;
  transition: 0.9s;
  border-radius: 20px;
}

/* ====================
  - Product Detail Section
  ==================== */
.title-videogame {
  color: aqua;
  text-shadow: 1px 1px 15px aqua;
}

.infogame {
  background-color: #282d32fd;
  padding: 20px;
  border-radius: 15px;
  margin: 15px;
  margin-top: 80px;
  box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.41);
}

.row {
  margin: 0 100px;
}

.container {
  padding-left: 200px;
  padding-right: 200px;
}

.title-description {
  font-size: 18px;
}

/* ====================
  - Newsletter
  ==================== */

#newsletter p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}
#newsletter small {
  color: red;
}

/* ====================
    - Footer section
    ==================== */

footer {
  background-color: #212529;
  color: white;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  color: #888;
  font-size: 0.9rem;
}

footer ul li.list-title {
  padding-bottom: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

footer .copyright {
  font-size: 0.9rem;
  color: #888;
}

/* ====================
    - Media queries
    
      xs   <  576px
      sm   ≥  576px
      md   ≥  768px
      lg   ≥  992px
      xl   ≥  1200px
      xxl  ≥  1400px
    ==================== */

@media screen and (max-width: 1200px) {
  #product-detail {
    margin-top: 54px;
  }

  #product-detail .product-detail__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.1;
  }
  .row {
    margin: 0 80px;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .section-text-combo p {
    width: 100%;
  }
  iframe {
    width: 500px;
    height: 320px;
  }
  .row {
    margin: 0 60px;
    display: block;
  }
  .row > * {
    width: auto;
  }
}

@media screen and (max-width: 676px) {
  html {
    font-size: 18px;
  }
  .section-text-combo p {
    width: 100%;
  }
  .row {
    margin: 0 2px;
  }
}

@media screen and (max-width: 480px) {
  iframe {
    width: 372px;
    height: 200px;
  }
  .carouselsize {
    height: 200px;
    width: 380px;
    margin: 0 auto;
  }
  .imagesize {
    height: 200px;
    margin: 0 auto;
  }
}
