main {
  min-height: 80vh;
  margin-top: 20px;
}

.carouselsize {
  height: 400px;
  width: 1000px;
  margin: 0 auto;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 80%;
  width: 100%;
}

.mySwiper2 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagesize {
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.105);
}

iframe {
  width: 635px;
  height: 400px;
}

.videosize {
  margin: 0 auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.105);
}

.sizebutton {
  height: 200px;
  width: 80px;
  margin: auto 0;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: white;
  opacity: 30%;
  transition: 0.9s;
  border-radius: 20px;
}

/* ====================
  - Product Detail Section
  ==================== */
.title-videogame {
  color: aqua;
  text-shadow: 1px 1px 15px aqua;
}

p.price-videogame {
  font-size: 30px;
}

.infogame {
  background-color: #282d32fd;
  padding: 20px;
  border-radius: 15px;
  margin: 15px;
  margin-top: 80px;
  box-shadow: 1px 1px 20px rgba(85, 85, 85, 0.41);
}

.description{
  background-color: rgba(36, 36, 36, 0.747);
  border-radius: 15px;
  padding: 25px;
  line-height: 1.5;
  list-style-type: none;
  box-shadow: 1px 1px 20px rgba(85, 85, 85, 0.41)
}

.information{
  color: aqua;
  text-shadow: 1px 1px 15px aqua;
}

.item{
  padding-left: 20px;
}

.requirements{
  background-color: rgba(36, 36, 36, 0.747);
  border-radius: 15px;
  padding: 25px;
  line-height: 1;
  position: relative;
  box-shadow: 1px 1px 20px rgba(85, 85, 85, 0.41)
}

.requirements-p{
  padding-left: 18px;
}

.goku-wrapper {
  position: absolute;
  top: 45px;
  right: 20px; /* Ajusta la distancia a la derecha según tu diseño */
  z-index: 1; /* Asegura que Goku esté sobre el fondo si es necesario */
  opacity: 0.15;
}

.system-requirements{
  color: aqua;
  text-shadow: 1px 1px 15px aqua;
  margin-bottom: 10px;
  display: flex;
}

.image-container {
  flex-shrink: 0;
}

#goku{
  display: block;
  width: 100px; /* Ajusta el tamaño de la imagen de Goku */
  height: 200px;
}

.row {
  margin: 0 100px;
}

.container {
  padding: 0 !important;
  padding-left: 200px;
  padding-right: 200px;
}

.title-description {
  font-size: 18px;
}

.button-icon {
  right: 20px;
  top: 23px;
  background: none;
  border: none;
  color: cyan;
  text-align: center;
  margin: 0 8px;
  box-shadow: 0 0px 18px cyan, 0 -3px 10px rgb(107, 104, 104);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.button-icon h2 {
  padding-right: 15px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 0, "opsz" 48;
  font-size: 40px;
  padding: 10px;
}

/* ====================
  - Newsletter
  ==================== */

#newsletter p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}
#newsletter small {
  color: red;
}

/* ====================
    - Media queries
    
      xs   <  576px
      sm   ≥  576px
      md   ≥  768px
      lg   ≥  992px
      xl   ≥  1200px
      xxl  ≥  1400px
    ==================== */

@media screen and (max-width: 1200px) {
  #product-detail {
    margin-top: 54px;
  }

  #product-detail .product-detail__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.1;
  }
  .row {
    margin: 0 80px;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .section-text-combo p {
    width: 100%;
  }
  iframe {
    width: 500px;
    height: 320px;
  }
  .row {
    margin: 0 60px;
    display: block;
  }
  .row > * {
    width: auto;
  }
}

@media screen and (max-width: 676px) {
  html {
    font-size: 18px;
  }
  .section-text-combo p {
    width: 100%;
  }
  .row {
    margin: 0 2px;
  }
}

@media screen and (max-width: 480px) {
  iframe {
    width: 372px;
    height: 200px;
  }
  .carouselsize {
    height: 200px;
    width: 380px;
    margin: 0 auto;
  }
  .imagesize {
    height: 200px;
    margin: 0 auto;
  }
}
