<app-nav />
<main>
  <section id="product-detail" class="pt-5">
    <div class="container-fluid">
      <div class="row">
        <div id="carouselExampleDark" class="carousel carousel-dark slide carouselsize">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <iframe class="d-block videosize"
                [src]="'http://www.youtube.com/embed/' + (videogame().video) + '?autoplay=1&mute=1'| safeUrl"
                allowfullscreen></iframe>
            </div>
            <div *ngFor="let image of videogame().image; let i = index" class="carousel-item">
              <img [src]="image" class="d-block w-80 imagesize" />
            </div>
          </div>
          <button class="carousel-control-prev sizebutton" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next sizebutton" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section id="product-detail" class="pt-8">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-light infogame">
          <h1 class="title-videogame">{{videogame().name}}</h1>
          <p class="price-videogame">$ {{videogame().price}}</p>
          <button class="button-icon navbar-toggler pe-0" (click)="addToCart(videogame())">
            <span class="material-symbols-outlined">
              shopping_cart
            </span>
            <h2>Add to cart</h2>
          </button>
          <article class="card-videogame">
            <ul>
              <li class="item">
                Game mode:
                @for(gamemode of videogame()?.gamemode; track gamemode._id){
                {{gamemode.name}}
                }
              </li>
              <li class="item">developer: {{videogame()?.developer[0]?.name}}</li>
              <li class="item">gender:
                @for(gender of videogame()?.gender; track gender._id){
                {{gender.name}}
                }</li>
              <li class="item">pegi: {{videogame()?.pegi[0]?.name}}</li>
              <li class="item">theme:
                @for(theme of videogame()?.theme; track theme._id){
                {{theme.name}}
                }</li>
            </ul>
          </article>
        </div>
        <div class="col text-light infogame">
          <article class="card-videogame">
            <h2 class="title-description">ACERCA DE ESTE JUEGO</h2>
            <hr>
            <div *ngFor="let description of videogame().description">
              <p>
                {{description}}
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer />