/* General Styles */
main {
  min-height: 80vh;
  margin-top: 54px;
}

.wrap {
  flex-wrap: wrap;
}

.section-text-combo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.section-text-combo p {
  width: 70%;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/* ====================
  - Products
==================== */
.product {
  margin-top: 0;
}

.justify-content-between {
  justify-content: space-around !important;
}

/* ====================
  - Newsletter
==================== */
#newsletter p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

#newsletter small {
  color: red;
}

/* ====================
  - Media Queries
==================== */
@media screen and (max-width: 992px) {
  /* Add styles here if needed */
}

@media screen and (max-width: 768px) {
  .section-text-combo p {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 18px;
  }

  .section-text-combo p {
    width: 100%;
  }
}
