
<main>
  <section id="login">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
          <a routerLink="/home" class="overlay-image"><img src='https://i.postimg.cc/R3Hb5rZt/pixil-frame-0-4.png' border='0' alt='pixil-frame-0-4'/></a>
          <div class="section-text-combo text-light">
            <h2>Login</h2>
          </div>
          <div class="areYouNotRegistered">
            <h4 class="areYouNotRegistered text-light">Are you not registered yet?&nbsp;&nbsp;<a routerLink="/register" class="areYouNotRegistered">Create an account</a></h4>
            </div>
          <form [formGroup]="loginForm" (submit)="onSubmit()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label text-white">Email</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label text-light">Password</label>
              <div class="d-flex align-items-center position-relative">
                <input type="{{ showPassword() ? 'text' : 'password' }}" formControlName="password" 
                       class="form-control pr-5" id="exampleInputPassword1" />
                <span class="material-symbols-outlined PasswordVisibility position-absolute"
                      style="right: 10px; cursor: pointer;"
                      (click)="togglePasswordVisibility()">
                  {{ showPassword() ? 'visibility_off' : 'visibility' }}
                </span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <div *ngIf="errorMessage" class="error-message text-light section-text-combo">
            <h2>{{ errorMessage }}</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>