/* Global Styles */
.placeholder {
  background-color: grey;
  border-radius: 6px;
}

.loader-nav {
  border: 1px solid grey;
  height: 85px;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 15px;
}

main {
  min-height: 80vh;
  margin-top: 54px;
}

.wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-around !important;
}

/* Section Styles */
.section-text-combo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.section-text-combo p {
  width: 70%;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/* Product Styles */
.product {
  margin-top: 0;
}

/* Newsletter Styles */
#newsletter p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

#newsletter small {
  color: red;
}

/* Media Queries */
@media screen and (max-width: 992px) {
  /* Add any styles for screens smaller than 992px here */
}

@media screen and (max-width: 768px) {
  .section-text-combo p {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 18px;
  }
  .section-text-combo p {
    width: 100%;
  }
}
