<app-nav />
<section id="products" class="my-5 pt-5">
    <div class="container">
        <div class="d-flex justify-content-between wrap mt-5">
            @for(videogame of infoGames(); track videogame){
            <app-cards [title]="videogame.title" [price]="videogame.price" [image]="videogame.image" />
            }
        </div>
    </div>
</section>
<section id="newsletter" class="my-5">
    <div class="container">
        <div class="row text-light">
            <div class="col-md-6">
                <h2>Ad lorem ipsum</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
                    reprehenderit atque inventore obcaecati!
                </p>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-1">
                    <input type="text" class="form-control" placeholder="Recipient's username"
                        aria-label="Recipient's username" aria-describedby="button-addon2" />
                    <button class="btn btn-outline-dark text-light" type="button" id="button-addon2">
                        Button
                    </button>
                </div>
                <small class="text-light">Lorem ipsum dolor sit amet.</small>
            </div>
        </div>
    </div>
</section>