/* General Styles */
.placeholder {
  background-color: grey;
  border-radius: 6px;
}

.loader-nav {
  border: 1px solid grey;
  height: 85px;
  margin: 5px 5px 10px;
  border-radius: 15px;
  padding: 15px;
}

/* ====================
- Main
==================== */
main {
  min-height: 80vh;
}

.section-text-combo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.section-text-combo p {
  width: 70%;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/* ====================
- Hero Section
==================== */
#hero {
  height: 350px;
  background-image: url("https://i.pinimg.com/originals/10/dd/02/10dd02f9476f82d05f17d88a31e3c80b.jpg");
  background-size: cover;
  background-position: center;
}

/* ====================
- Products Section
==================== */
swiper-slide {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ====================
- Newsletter
==================== */
#newsletter p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

#newsletter small {
  color: red;
}

/* ====================
- Media Queries
==================== */

/* Breakpoints: 
   xs   <  576px
   sm   ≥  576px
   md   ≥  768px
   lg   ≥  992px
   xl   ≥  1200px
   xxl  ≥  1400px
*/

@media screen and (max-width: 1200px) {
  .tarjeta-wrapper {
    max-width: 900px;
  }
}

@media screen and (max-width: 992px) {
  .tarjeta-wrapper {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .section-text-combo p {
    width: 80%;
  }

  .tarjeta-wrapper {
    max-width: 590px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 18px;
  }

  .section-text-combo p {
    width: 100%;
  }

  .tarjeta-wrapper {
    max-width: 320px;
  }
}
