@if(isLoading){
<nav>
  <div class="loader-nav d-flex justify-content-between align-items-center">
    <div>
      <p-skeleton class="placeholder" width="5rem" height="3rem" />
    </div>,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
    <div class="d-flex gap-3 align-items-center">
      <div>
        <p-skeleton class="placeholder" width="4rem" height="3rem" />
      </div>
      <div>
        <p-skeleton class="placeholder" width="4rem" height="3rem" />
      </div>
      <div>
        <p-skeleton class="placeholder" width="4rem" height="3rem" />
      </div>
    </div>,,,
    <div class="d-flex align-items-center gap-3">
      <div>
        <p-skeleton class="placeholder" width="7rem" height="2rem" />
      </div>
      <div>
        <p-skeleton class="placeholder" shape="circle" size="2rem" styleClass="mr-2" />
      </div>
      <div>
        <p-skeleton class="placeholder" shape="circle" size="2rem" styleClass="mr-2" />
      </div>
    </div>
  </div>
</nav>
<main>
  <section class="loading-hero placeholder-glow d-flex justify-content-center">
    <p-skeleton class="placeholder" width="94rem" height="22rem" />
  </section>
  <section id="services" class="py-5">
    <div>
      <div>
        <h2 class="card-title placeholder-glow d-flex justify-content-center">
          <p-skeleton class="placeholder" width="14rem" height="3rem" />
        </h2>
      </div>
      <div>
        <swiper-container class="swiper-container" slides-per-view="4" loop="true" navigation="true">
          @for(videogame of featuredvideogames(); track videogame._id){
          <swiper-slide>
            <figure>
              <div class="placeholder-glow">
                <p-skeleton class="placeholder" width="18rem" height="20rem" />
              </div>
              <figcaption class="placeholder-glow mt-1">
                <div>
                  <p-skeleton class="placeholder" width="11rem" height="1rem" />
                </div>
                <div>
                  <p-skeleton class="placeholder" width="5rem" height="1rem" />
                </div>
              </figcaption>
            </figure>
          </swiper-slide>
          }
        </swiper-container>
      </div>
    </div>
  </section>
  <section id="featured" class="py-5">
    <div class="container-fluid">
      <div class="section-text-combo text-light">
        <h2 class="card-title placeholder-glow d-flex justify-content-center">
          <p-skeleton class="placeholder" width="14rem" height="3rem" />
        </h2>
      </div>
      <div>
        <swiper-container class="swiper-container" slides-per-view="4" loop="true" navigation="true">
          @for(videogame of featuredvideogames(); track videogame._id){
          <swiper-slide>
            <figure>
              <div class="placeholder-glow">
                <p-skeleton class="placeholder" width="18rem" height="20rem" />
              </div>
              <figcaption class="placeholder-glow mt-1">
                <div>
                  <p-skeleton class="placeholder" width="11rem" height="1rem" />
                </div>
                <div>
                  <p-skeleton class="placeholder" width="5rem" height="1rem" />
                </div>
              </figcaption>
            </figure>
          </swiper-slide>
          }
        </swiper-container>
      </div>
    </div>
  </section>
</main>
<footer class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 mb-4">
        <h2>
          <p-skeleton class="placeholder" width="17rem" height="3rem" />
        </h2>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title"><p-skeleton class="placeholder" width="6rem" height="1.5rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title"><p-skeleton class="placeholder" width="6rem" height="1.5rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title"><p-skeleton class="placeholder" width="6rem" height="1.5rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
          <li><p-skeleton class="placeholder" width="5rem" height="1rem" /></li>
        </ul>
      </div>
      <div class="col-12 pt-5 text-center">
        <li><p-skeleton class="placeholder" width="20rem" height="1rem" /></li>
      </div>
    </div>
  </div>
</footer>
}@else{
<app-nav />
<main>
  <section id="hero">
  </section>
  <section id=" services" class="py-5">
    <div class="section-text-combo text-light">
      <h2>Featured</h2>
    </div>
    <div>
      <swiper-container class="mySwiper" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
        breakpoints='{"400": {"slidesPerView": 1},"700": {"slidesPerView": 2},"980": {"slidesPerView": 3}, "1200":{"slidesPerView":4}}'
        loop="true" navigation="true" space-between="-65">
        @for(videogame of featuredvideogames(); track videogame._id){
        <swiper-slide>
          <app-cards [id]="videogame._id" [name]="videogame.name" [price]="videogame.price" [cover]="videogame.cover" />
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </section>
  <section id="featured" class="py-5">
    <div class="container-fluid">
      <div class="section-text-combo text-light">
        <h2>On Sale</h2>
      </div>
      <div>
        <swiper-container class="mySwiper" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
          breakpoints='{"400": {"slidesPerView": 1},"700": {"slidesPerView": 2},"980": {"slidesPerView": 3}, "1200":{"slidesPerView":4}}'
          loop="true" navigation="true">
          @for(videogame of onsalevideogames(); track videogame._id){
          <swiper-slide>
            <app-cards [id]="videogame._id" [name]="videogame.name" [price]="videogame.price"
              [cover]="videogame.cover" />
          </swiper-slide>
          }

        </swiper-container>

      </div>
    </div>
  </section>
</main>
}
<app-footer />