.product {
    display: flex;
    gap: 1rem;
    position: relative;
}

.product figure {
    width: 60%;
    display: flex;
    gap: 1rem;
}

.product figure img {
    width: 40%;
    object-fit: cover;
    border-radius: 3px;
    aspect-ratio: 1;
}

.product figure figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    flex-grow: 1;
}

.product figure figcaption p {
    color: white;
}

.product figure figcaption {}

.product .actions {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    right: 0;
}

.product .actions button.delete {}

.product .actions form {
    display: flex;
    gap: 0.5rem
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.product .actions form input {
    width: 2rem;

    text-align: center;
}

.product .actions form button.increment,
.product .actions form button.decrement {
    display: inline-block;
    width: 1.6rem;
    aspect-ratio: 1 / 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}