<article class="product">
    <div class="image block shadow">
        <a [routerLink]="['/detail/', videogame.name,videogame._id]">
            <img [src]="videogame.cover" alt="">
        </a>
    </div>
    <div class="detail">
        <p>{{videogame.name}}</p>
        <p>{{videogame.price | currency}}</p>
    </div>
    <div class="actions">

        <form action="">
            <button type="button" class="decrement" (click)="decrement(videogame._id)">
                <span class="material-symbols-outlined">
                    remove
                </span>
            </button>
            <input type="number" name="quantity" id="quantity" [formControl]="productQuantity">
            <button type="button" class="increment" (click)="increment(videogame._id)">
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>
        </form>
        <div class="delete-button">
            <button (click)="deleteToCart(videogame._id)">
                <span class="material-symbols-outlined">
                    delete
                </span>
            </button>
        </div>
    </div>
</article>