<article>
    <figure>
        <img [src]="videogame.image" alt="">
        <figcaption>
            <p>{{videogame.name}}</p>
            <p>{{videogame.price}}</p>
        </figcaption>
    </figure>
    <div class="actions">
        <button><i class="fa-regular fa-trash-can"></i></button>
        <form action="" class="action">
            <button class="decrement">-</button>
            <input type="text">
            <button class="increment"></button>+
        </form>
    </div>
</article>