<nav class="navbar navbar-light navbar-expand-md justify-content-center fixed-top bg-dark">

    <div class="container-fluid">
        <a href="#" class="navbar-brand d-flex w-50 mr-auto text-light">
            <strong>BIT Shop</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar"
            aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="mainNavBar">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-light" href="videogamelist">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu bg-dark">
                        <li><a class="dropdown-item text-light " href="#">Action</a></li>
                        <li><a class="dropdown-item text-light" href="#">Another action</a></li>
                        <li>
                            <a class="dropdown-item text-light" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-bag"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>