<nav>
  <div class="wrapper">
    <div class="logo"><a routerLink="/home">Bit Shoop</a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">

    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><span class="button-icon material-symbols-outlined">
          close
        </span></label>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/videogamelist">Games</a></li>
      <li>
        <a class="desktop-item">Categories <span class="material-symbols-outlined">
            arrow_drop_down
          </span></a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile-item">Categories</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <header>Gender</header>
              <ul class="mega-links">
                <li> @for(gender of genders(); track gender._id ){ <a
                    [routerLink]="['/category/gender/',gender.name]">{{gender.name}}</a>
                  }</li>
              </ul>
            </div>
            <div class="row">
              <header>Theme</header>
              <ul class="mega-links">
                <li>@for(theme of themes(); track theme._id ){ <a
                    [routerLink]="['/category/theme/',theme.name]">{{theme.name}}</a>
                  }</li>
              </ul>
            </div>
            <div class="row">
              <header>Game mode </header>
              <ul class="mega-links">
                <li>@for(gamemode of gamemodes(); track gamemode._id ){ <a
                    [routerLink]="['/category/gamemode/',gamemode.name]">{{gamemode.name}}</a>
                  }</li>
              </ul>
            </div>
            <div class="row">
              <header>Pegi </header>
              <ul class="mega-links">
                <li>@for(pegi of pegis(); track pegi._id ){ <a
                    [routerLink]="['/category/pegi/',pegi.name]">{{pegi.name}}</a>
                  }</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class=" container-button">
      <div class="search">
        <form (ngSubmit)="onSubmit()">
          <input type="text" id="search-bar" class="form-control" placeholder="Search Game" aria-label="Game"
            aria-describedby="button-addon2" [(ngModel)]="name" name="name" required>
          <button class="navbar-toggler pe-0" type="submit">
            <span class="button-icon search-button material-symbols-outlined">
              search
            </span>
          </button>
        </form>
      </div>
      <button class="button-icon navbar-toggler pe-0" type="button">
        <span *ngIf="!isLogged()" routerLink="/login" class="material-symbols-outlined">
          person
        </span>
      </button>
      <button class="button-icon navbar-toggler pe-0" (click)="toggleCartVisibility()">
        <span class="material-symbols-outlined">
          shopping_cart
        </span>
        {{cart().size}}
      </button>
      <label for="menu-btn" class="btn menu-btn navbar-toggler pe-0"><span class="material-symbols-outlined">
          menu
        </span></label>
    </div>

  </div>

</nav>

<aside [ngClass]="showCart() ? 'cart show' : 'cart'">
  <h2>
    Carrito {{cart().size}}
  </h2>
  <button class="close" (click)="toggleCartVisibility()">
    <span class="material-symbols-outlined">
      close
    </span>
  </button>
  <section class="cart-products">
@for(cartProduct of cart().values(); track cartProduct._id){
  <app-card-cart [videogame]="cartProduct"/>
}
  </section>
  <div class="details">
    <h3>Total:&nbsp;<span> {{ total() | currency}}</span> </h3>
    <a routerLink="/checkout" class="checkout">checkout</a>
  </div>
</aside>