<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" routerLink="/">Bit Shop</a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header bg-dark">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Bit Shop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body bg-dark">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 " aria-current="page" routerLink="/home"
                            routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" routerLink="/videogamelist" routerLinkActive="active">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 " routerLink="About" routerLinkActive="active">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="login-button">Login</a>
        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>