.product {
  position: relative;
  max-height: 345px;
  transition: transform 0.3s ease;
  padding: 6px 6px 0 6px;
  margin-bottom: 25px;
  text-align: left;
}

.product a {
  text-decoration: none;
  color: white;
}

.product:hover {
  transform: scale(1.1);
  z-index: 10000;
}

.product figure {
  width: 100%;
  height: 100%;
}

.block {
  border-radius: 16px;
  position: relative;
  max-width: 280px;
  background: linear-gradient(0deg, #000, #262626);
}

.shadow:hover::before,
.shadow:hover::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(
    45deg,
    #fb00c9,
    #0ef,
    #d90000,
    #fb00c9,
    #0ef,
    #d90000
  );
  background-size: 400%;
  border-radius: 16px;
  z-index: -1;
  animation: shadow 20s linear infinite;
  transition: all 1s ease-in-out;
}

.shadow:hover::after {
  top: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  filter: blur(24px);
  opacity: 0.9;
  transition: all 1s ease-in-out;
}

@keyframes shadow {
  0% {
    background-position: 0 0;
  }
  50.01% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.product figure img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1.1;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 238, 255, 0.597);
}

.product figure figcaption {
  margin-top: 0.5rem;
}

.product figure figcaption h3 {
  margin: 0;
  font-size: 1rem;
}
